In [100]:
import requests
import numpy as np
import pandas as pd
from pycoingecko import CoinGeckoAPI

In [101]:
apikey = 'RF78TKBA1N4KIBXYBYJZ8JT6T7XWAUTNV7'
endpoint = "https://api.snowtrace.io/api"

cg = CoinGeckoAPI()
avax_price = cg.get_price(ids='avalanche-2', vs_currencies='usd')
avax_price = avax_price['avalanche-2']['usd']


daowallet = '0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676'
daowallet2 = '0x0B4F85B173FA22f69308fFDD00bc556E987002df'
daostaked = '0x668530302c6ecc4ebe693ec877b79300ac72527c'

solana = 'dYG8h8sMrJHwPRdjAv85JGpj2Z44XFnFcHmADpJQhgp'

wei = 1000000000000000000

In [116]:
def get_multi_balance(multi_address):
    params = {
        "module": "account",
        "action": "balancemulti",
        "address": multi_address,
        "tag": "latest",
        "apikey": apikey
    }


    response = requests.get(endpoint, params=params)


    if response.status_code == 200:
        transactions = response.json()["result"]
        return transactions
    else:
        return "Request failed with status code:", response.status_code

def get_nfts(address, contract_address):
    params = {
        "module": "account",
        "action": "tokennfttx",
        "contractaddress": contract_address,
        "address": address,
        "page": "1",
        "offset": "100",
        "startblock": "0",
        "endblock": "99999999",
        "sort": "asc",
        "apikey": apikey
    }

    response = requests.get(endpoint, params=params)

    if response.status_code == 200:
        data = response.json()["result"]
        print(data)
    else:
        return "Request failed with status code:", response.status_code

In [117]:
multi_address = daowallet,daowallet2,daostaked
balance_wallets = get_multi_balance(multi_address)
balance_wallets = pd.DataFrame(balance_wallets)
balance_wallets

                                      account                balance
0  0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676  627014954314272191286
1  0x0B4F85B173FA22f69308fFDD00bc556E987002df     595171108398898991
2  0x668530302c6ecc4ebe693ec877b79300ac72527c                      0

In [118]:
balance_wallets['balance'] = balance_wallets['balance'].astype(np.float64)
balance_wallets['balance'] = balance_wallets['balance']/wei
balance_wallets

                                      account     balance
0  0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676  627.014954
1  0x0B4F85B173FA22f69308fFDD00bc556E987002df    0.595171
2  0x668530302c6ecc4ebe693ec877b79300ac72527c    0.000000

In [119]:
balance_wallets.rename(columns={'balance':'balance_avax'}, inplace=True)

In [120]:
balance_wallets['balance_usd'] = balance_wallets['balance_avax'] * avax_price
balance_wallets['balance_avax'] = balance_wallets['balance_avax'].apply(lambda x: round(x, 2))
balance_wallets['balance_usd'] = balance_wallets['balance_usd'].apply(lambda x: round(x, 2))
balance_wallets

                                      account  balance_avax  balance_usd
0  0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676        627.01     11223.57
1  0x0B4F85B173FA22f69308fFDD00bc556E987002df          0.60        10.65
2  0x668530302c6ecc4ebe693ec877b79300ac72527c          0.00         0.00

In [123]:
nfts = get_nfts('0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676', '0x942A02e5ec8FC3d066DA8F97A9553736369494A1')

[{'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4883', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313211'}, {'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4882', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313211'}]

In [127]:
print(pd.DataFrame(nfts))

Empty DataFrame
Columns: []
Index: []

In [131]:
df = get_nfts('0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676', '0x942A02e5ec8FC3d066DA8F97A9553736369494A1')
df = pd.DataFrame(df)
df

[{'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4883', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313325'}, {'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4882', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313325'}]

Empty DataFrame
Columns: []
Index: []

In [132]:
print(get_nfts('0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676', '0x942A02e5ec8FC3d066DA8F97A9553736369494A1'))

[{'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4883', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313352'}, {'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4882', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313352'}]
None

In [134]:
nfts = get_nfts('0xEE576ebC6727D7Da876eDCd0429CdB48f69c3676', '0x942A02e5ec8FC3d066DA8F97A9553736369494A1')
df = pd.DataFrame(nfts)
print(df)

[{'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4883', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313380'}, {'blockNumber': '25744486', 'timeStamp': '1675356377', 'hash': '0xa850690e806e73757f01c375ae42ec4f81cc8883657895e594e19ae49c48c16b', 'nonce': '5', 'blockHash': '0xe9c32a8be95cfea55c98b89ed20b5cf071fedb385d4fd1ed6daf70b1d6d59038', 'from': '0xe8ed6d2d57647724f9b3afda1d302a52bb1e2468', 'contractAddress': '0x942a02e5ec8fc3d066da8f97a9553736369494a1', 'to': '0xee576ebc6727d7da876edcd0429cdb48f69c3676', 'tokenID': '4882', 'tokenName': 'Chad Doge Supers', 'tokenSymbol': 'CD Supers', 'tokenDecimal': '0', 'transactionIndex': '2', 'gas': '152317', 'gasPrice': '26500000000', 'gasUsed': '151821', 'cumulativeGasUsed': '585196', 'input': 'deprecated', 'confirmations': '313380'}]
Empty DataFrame
Columns: []
Index: []